# Application Environment
APP_ENV=development

# Dolibarr API Configuration
DOLIBARR_API_URL=https://ecommerce.cieloo.io/api/index.php
DOLIBARR_API_KEY=63Taf589rtv372JHWfbvAvRDFe9A0WNn
DOLIBARR_USERNAME=khalil
DOLIBARR_PASSWORD=khalil123